* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 25px;
}

.center {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.head {}

.main {}

.navbar-brand:hover path {
  fill: rgb(66, 149, 182);
}

.navbar-brand:active path {
  fill: #000000;
}

.logo {
  width: 100px;
}

.navbar-text {
  color: #000000;
}

.about__aside__wrap {
  background-image: url(../img/about__bgrd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
  box-sizing: border-box;
}

.about {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 5px;
}

.photo__wrap {
  min-height: 800px;
  max-width: 533px;
  width: 100%;
  margin: 0 auto;
}

.my__photo {
  max-height: 872px;
  height: 100%;
  max-width: 582px;
  width: 100%;
  object-fit: contain;
}

.about__txt__wrap {
  min-height: 800px;
  max-width: 1400px;
  width: 100%;
}

.about__title {
  text-align: center;
}

.about__txt {
  max-height: 800px;
}

.examp__hobbi__wrap {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  padding: 0 10px 30px 10px;
  background-color: rgb(202, 197, 159);
}

.examples {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-width: 280px;
  width: 100%;
}

.examples__title {
  margin: 25px 0 0 0;
  text-align: center;
}

.accordion-button {}

.accordion-body {}




.hobbies {
  box-sizing: border-box;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-height: 600px;
  margin: 0 auto;
}

.hobbies__title {
  margin: 25px 0 0 0;
  text-align: center;
}

.hobbies__slider {}

.hobbies__img__wrap {
  width: 275px;
}

.hobbies__img {}

.w-100 {}

.bottom {
  padding: 10px 10px;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}

.bottom__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.bottom__txt {
  margin: 0;
}

.bottom__list {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0;
}

.bottom__item:hover svg path {
  fill: rgb(66, 149, 182);
}

.bottom__link {}

@media(max-width:1024px) {
  body {
    font-size: 18px;
  }
}

@media(max-width:767px) {
  body {
    font-size: 16px;
  }

  .about {
    flex-wrap: wrap;
  }

  .examp__hobbi__wrap {
    flex-wrap: wrap;
  }
}